<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/home/tabs/offers/'+product.restaurante"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Product</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="updateProduct()" [disabled]="!form.valid">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid fixed>
      <ion-row>
        <ion-col size-sm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Product name</ion-label>
            <ion-input type="text" [(ngModel)]="product.nombre" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" [(ngModel)]="product.precio" autocomplete autocorrect formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Image</ion-label>
            <ion-input type="text" [(ngModel)]="product.foto" autocomplete autocorrect formControlName="image"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="3" [(ngModel)]="product.des" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Descriptions must be between 1 and 45 characters.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
