<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pruebas/pedido"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ product.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="product.foto"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <p style="font-weight: bold;">Description:</p>
        <p>{{ product.des }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" text-center>
      <p style="font-weight: bold;">Price per unit:</p>
      <p>{{ product.precio }}</p>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" text-center [formGroup]="form">
      <ion-label position="floating">Quantity: </ion-label>
              <ion-input
                type="number"
                autocomplete
                autocorrect
                formControlName="cantidad"
              ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col sizeSm="6" offsetSm="3">
      <ion-button
        (click)="onAddProduct()"
        expand="block"
        fill="clear"
        shape="round"
        [disabled]="!form.valid"
      >
        Add to Cart
      </ion-button>
    </ion-col>
  </ion-row>

  <!-- <ion-row class="tumblrDiv">
    <ion-col sizeSm="6" offsetSm="3">
      <p class="tumblrTitle"> << Tumblr Post >> </p>
      <a [href]="postTumblr.url"><ion-img class="imgTumblr" [src]="postTumblr.imagen"></ion-img></a>
      <p>{{ postTumblr.caption }}</p>
    </ion-col>
  </ion-row> -->
</ion-content>
