<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-icon name="search"></ion-icon>
      <ion-label>Discover</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="tipo == 'R'" tab="offers">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="tipo == 'R'" tab="offers">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Manage</ion-label>
    </ion-tab-button>
    <!--
    <ion-tab-button *ngIf="tipo == 'R'" tab="offers" routerLink="/">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="tipo == 'C'" tab="offers" routerLink="/">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  -->
  </ion-tab-bar>
</ion-tabs>
