<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="place.imageURL"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <p style="font-weight: bold;">Description:</p>
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" text-center>
      <p style="font-weight: bold;">Address:</p>
      <p>{{ place.location }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" text-center>
      <p style="font-weight: bold;">Price per night:</p>
      <p>{{ place.price }}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col sizeSm="6" offsetSm="3" text-center>
      <p style="font-weight: bold;">Available dates:</p>
      <p>{{ place.availableFrom }} <br> to <br> {{ place.availableTo }}</p>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="isBookable">
    <ion-col sizeSm="6" offsetSm="3">
      <ion-button
        (click)="onBookPlace()"
        expand="block"
        fill="clear"
        shape="round"
      >
        Book
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="tumblrDiv">
    <ion-col sizeSm="6" offsetSm="3">
      <p class="tumblrTitle"> << Tumblr Post >> </p>
      <a [href]="postTumblr.url"><ion-img class="imgTumblr" [src]="postTumblr.imagen"></ion-img></a>
      <p>{{ postTumblr.caption }}</p>
    </ion-col>
  </ion-row>
</ion-content>
