<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-img [src]="place.imageURL"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <p>{{ place.description }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row *ngIf="isBookable">
    <ion-col sizeSm="6" offsetSm="3">
      <ion-button
        (click)="onBookPlace()"
        expand="block"
        fill="clear"
        shape="round"
      >
        Book
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
